.px-4{
    margin-bottom: 10rem;
    margin-top: 10rem;
}
.row-cols-2{
    margin-top: 15rem;
}
.text-center{
    margin-top: 4rem;
}

.table{
    margin-top: 4rem;
}

.gy-5{
    margin-top: 1rem;
}

.gx-5{
    margin-top: 2rem;
}

.g-lg-3{
    margin-top: 2rem;
}